<%-include("carousale") %>

<div class="offcanvasNav">

</div>
<div class="row ml-2 mr-2">
  <div class="col-md-12" style="margin-top: -0.5rem;">
    <div class="d-flex justify-content-between align-items-center breaking-news bg-white">
      <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news">
        <span class="d-flex align-items-center">&nbsp;Latest News</span>
      </div>
      <marquee class="news-scroll" behavior="scroll" direction="left" onmouseover="this.stop();"
        onmouseout="this.start();">
        <a href="#">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</a>
        <span class="dot"></span>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</a>
        <span class="dot"></span>
        <a href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse.</a>
      </marquee>
    </div>
  </div>
</div>
<div id="e1" class="container-fluid bg-light rounded">
  <div class="row p-5 mr-5 justify-content-center">
    <div class="col col-lg-6 col-md-12 col-sm-12 my-2">
      <h3>Welcome to the BRAND</h3>
      <p style="font-size: 1.4rem;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis minus perspiciatis quae, numquam expedita
        temporibus rerum libero animi facilis facere eveniet natus impedit accusamus aspernatur repellendus at
        exercitationem, velit nostrum!
        <br>
      <p style="font-size: 1.4rem;" class="my-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fugit odio ab eum, saepe et. Ab numquam, quo
        quasi nemo voluptatum quam, blanditiis saepe dolores aliquam iure, amet ratione voluptas!
      </p>
      </p>
      <a href="" class="btn btn-warning my-3">Read More</a>
    </div>
    <div style="margin-left:5rem;" class="col col-lg-3  col-md-12 col-sm-12 ">
      <div class="rounded justify-content-end" style="max-height: 50rem;max-width: 50rem;text-align: center;">
        <img
          style="min-height: 20rem;min-width: 20rem;max-height: 20rem;max-width: 20rem;object-fit: cover;padding: 1rem;border: 0.3rem solid yellowgreen;"
          class="rounded-circle border-warning" src="/img/director.jpg" alt="">
        <h3 class="text-warning mt-4" style="text-align: center;">Haseeb Ullah Tarakai</h3>
        <p style="text-align: center;">CEO & Founder of the Brand</p>
      </div>
    </div>
  </div>
  <hr>
</div>

<h2 id="e2" style="text-align: center;font-family: montserrat;">Virtual Tour</h2>
<section style="padding: 4rem;">
  <div class="container-fluid">
    <div id="e3" class="row">
      <button class="col bg-dark rounded p-5 mx-5"
        style="opacity: 0.8;background-image: url('img/library.jpg');object-fit: fill;border: none;">
        <h3 style="text-align: center;" class="text-white"><strong>library</strong></h3>

      </button>
      <div class="col bg-dark rounded p-5 mx-5"
        style="opacity: 0.8;background-image: url('img/gym.jpg');object-fit: fill;">
        <h3 style="text-align: center;" class="text-white"><strong>GYM</strong></h3>
      </div>
      <div class="col bg-dark rounded p-5 mx-5"
        style="opacity: 0.8;background-image: url('img/gym.jpg');object-fit: fill;">
        <h3 style="text-align: center;" class="text-white"><strong>GYM</strong></h3>
      </div>
    </div>
    <div id="e4" class="row mt-5">
      <div class="col bg-dark rounded p-5 mx-5"
        style="opacity: 0.8;background-image: url('img/sports.jpg');object-fit: fill;">
        <h3 style="text-align: center;" class="text-white"><strong>Sports</strong></h3>

      </div>
      <div class="col bg-dark rounded p-5 mx-5"
        style="opacity: 0.8;background-image: url('https://cdn.pixabay.com/photo/2014/07/06/09/37/lecture-385357_640.jpg');object-fit: fill;">
        <h3 style="text-align: center;" class="text-white"> <strong> Class rooms</strong></h3>
      </div>
      <div class="col bg-dark rounded p-5 mx-5"
        style="opacity: 0.8;background-image: url('https://cdn.pixabay.com/photo/2014/07/06/09/37/lecture-385357_640.jpg');object-fit: fill;">
        <h3 style="text-align: center;" class="text-white"> <strong> Class rooms</strong></h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row my-4 mx-4">
    <div id="e5" class="col col-lg-5 col-md-12 col-sm-12 mt-3" style="min-height: 44rem;max-height: 44rem;overflow:hidden ;">
      <div class="rounded  p-5" style="background-color: rgb(9, 9, 50);">
        <h2 style="font-family: montserrat;max-width: 15rem;" class="text-dark bg-warning" style="">Our Mission</h2>
        <p class="text-white" style="font-size: large;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Magnam,
          sint. Voluptas delectus possimus assumenda,
          voluptatibus quaerat voluptatem. Quaerat in at voluptatibus facere dignissimos tenetur, et repellat, quibusdam
          deserunt suscipit numquam!</p>
        <p class="text-white" style="font-size: large;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Magnam,
          sint. Voluptas delectus possimus assumenda,
          voluptatibus quaerat voluptatem. Quaerat in at voluptatibus facere dignissimos tenetur, et repellat, quibusdam
          deserunt suscipit numquam!</p>
        <p class="text-white" style="font-size: large;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Magnam,
          sint. Voluptas delectus possimus assumenda,
          voluptatibus quaerat voluptatem. Quaerat in at voluptatibus facere dignissimos tenetur, et repellat, quibusdam
          deserunt suscipit numquam!</p>
        <p class="text-white" style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          fugiat a. Obcaecati dolores pariatur facere deserunt, expedita beatae non natus nesciunt tenetur sit illo
          incidunt, nam rerum consequuntur veniam suscipit?</p>
        <a href="">Haseeb Ullah Tarakai</a>

      </div>
    </div>
    <div  id="e6" class="col col-lg-7 col-md-12 mt-3 col-sm-12 col-xsm-12  rounded p-5"
      style="background-color: rgb(9, 9, 50);min-height: 40rem;max-height: 40rem;overflow: hidden;">
      <h2 style="font-family: montserrat;max-width: 23rem;" class="text-dark bg-warning">Recent Blog Posts</h2>
<% blogPosts.forEach((post)=>{ %>
      <div class="row">
        <div class="col mt-2 col-lg-2 col-md-1">
          <img class=" border-warning" style="padding: 0.4rem;border: 0.1rem solid;" src="/uploads/blog/<%=post.thumbnail.originalname%>"
            width="130px" alt="">
        </div>
        <div class="col mt-2 col-lg-10">
          <h4 > <a class="text-white" style="text-decoration: none;" href="/blog/post/<%=post._id%>/view"> <%=post.title%></a></h4>
          <p class="text-white"><i class="fa fa-clock-o"></i> &nbsp;<%=post.time%></p>
          <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, repudiandae quaerat
            quod nemo aliquid
            quibusdam itaque. Illum deserunt sapiente dolore qui necessitatibus maiores temporibus fugiat aperiam
            voluptatibus, quo, vitae ut. <a class="text-white" href="/blog/post/<%=post._id%>/view">Read more..</a> </p>
        </div>
      </div>
<% }) %>
    </div>
  </div>
</section>
<section id="toppers">
<h2 id="e7" style="text-align: center;"><i class="fa-solid fa-graduation-cap"></i>&nbsp;Our Toppers</h2>
<div id="e8" class="row ml-auto" style="text-align: center;margin-left: auto;margin-right: auto;">
  <div class="col">
    <div class="card mb-5">
      <div class="face front-face">
        <img src="img/result.jpg" alt="" class="profile">
        <div class="pt-3 text-uppercase name">
          Robert Garrison
        </div>
        <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <div class="Marks text-dark">1100 / 1100</div>


      </div>
      <div class="face back-face">
        <span class="fas fa-quote-left text-dark"></span>
        <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <br>
        <div class="testimonial text-dark">
          I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
          pleasant.
          The service was execellent. I will refer everyone I know.
        </div>
        <span class="fas fa-quote-right text-dark"></span>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-5">
      <div class="face front-face">
        <img src="img/result.jpg" alt="" class="profile">
        <div class="pt-3 text-uppercase name">
          Robert Garrison
        </div>
        <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <div class="Marks text-dark">1100 / 1100</div>


      </div>
      <div class="face back-face">
        <span class="fas fa-quote-left text-dark"></span>
        <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <br>
        <div class="testimonial text-dark">
          I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
          pleasant.
          The service was execellent. I will refer everyone I know.
        </div>
        <span class="fas fa-quote-right text-dark"></span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-5">
      <div class="face front-face">
        <img src="img/result.jpg" alt="" class="profile">
        <div class="pt-3 text-uppercase name">
          Robert Garrison
        </div>
        <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <div class="Marks text-dark">1100 / 1100</div>


      </div>
      <div class="face back-face">
        <span class="fas fa-quote-left text-dark"></span>
        <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <br>
        <div class="testimonial text-dark">
          I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
          pleasant.
          The service was execellent. I will refer everyone I know.
        </div>
        <span class="fas fa-quote-right text-dark"></span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-5">
      <div class="face front-face">
        <img src="img/result.jpg" alt="" class="profile">
        <div class="pt-3 text-uppercase name">
          Robert Garrison
        </div>
        <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <div class="Marks text-dark">1100 / 1100</div>


      </div>
      <div class="face back-face">
        <span class="fas fa-quote-left text-dark"></span>
        <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <br>
        <div class="testimonial text-dark">
          I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
          pleasant.
          The service was execellent. I will refer everyone I know.
        </div>
        <span class="fas fa-quote-right text-dark"></span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-5">
      <div class="face front-face">
        <img src="img/result.jpg" alt="" class="profile">
        <div class="pt-3 text-uppercase name">
          Robert Garrison
        </div>
        <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <div class="Marks text-dark">1100 / 1100</div>


      </div>
      <div class="face back-face">
        <span class="fas fa-quote-left text-dark"></span>
        <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
        <br>
        <div class="testimonial text-dark">
          I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
          pleasant.
          The service was execellent. I will refer everyone I know.
        </div>
        <span class="fas fa-quote-right text-dark"></span>
      </div>
    </div>
  </div>
</div>
</section>
<section id="e9" class="bg-warning p-5 my-4" style="text-align: center;font-family: montserrat;">
  <h1 style="text-align: center;font-family: montserrat;">Our Qualified Staff</h1>
  <a href="" class="btn btn-outline-dark my-3">Become A Staff-Member</a>
  <a href="" class="btn btn-dark my-3">View Staff</a>
</section>
<section id="e10" class="my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>Testimonials</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->

        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="img-box"><img style="object-fit: cover;" src="img/result.jpg" alt=""></div>
            <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius
              quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum
              scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
            <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
          </div>
          <div class="carousel-item">
            <div class="img-box"><img style="object-fit: cover;" src="img/director.jpg" alt=""></div>
            <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi
              suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse
              potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
            <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
          </div>
          <div class="carousel-item">
            <div class="img-box"><img style="object-fit: cover;" src="img/result.jpg" alt=""></div>
            <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam
              faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus,
              volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
            <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="e11" class="row" style="background-color: red;padding: 7rem;">

  <div class="col col-lg-7 col-md-12 col-sm-12 " style="background-repeat: no-repeat;object-fit: fill;">
    <img style="max-height: 400px;" src="img/students.png" alt="">
  </div>
  <div style="background-color: rgb(9, 9, 37);padding: 2rem;color: #ffffff;padding-top: 4%;"
    class="col col-lg-5  col-md-12 col-sm-12 rounded mx-0 px-0">
    <p class="px-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est expedita eum veritatis ex ipsam ipsa
      porro qui, vero alias aperiam unde accusamus cum, laboriosam earum voluptas magnam? Dignissimos, sunt! Facere.</p>
    <br>
    <a href="/applyOnline" class="btn btn-warning mx-3" style="font-family: montserrat;font-size: 1.4rem">Apply Now</a>
    <a href="/applyOnline" class="btn btn-outline-warning mx-3" style="font-family: montserrat;font-size: 1.4rem">View
      Your Application Status</a>
  </div>

</section>
<section id="e13" class="bg-danger my-2 rounded p-2"
  style="filter: brightness(0.4);opacity: 0.9;background-image: url('https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_1280.jpg');background-repeat:no-repeat;background-size: cover;">
  <h1 style="text-align: center;padding-bottom: 2rem;color: aliceblue;"><i
      class="fa-solid fa-graduation-cap"></i>&nbsp;Our Students</h1>
  <div class="container">
    <div class="row  pb-2">
      <div class="col col-lg-4">
        <div class=" text-white">
          <div style="filter: brightness(1) !important;
      font-size: 7rem;
      font-weight: bold;
      color: #ffffff;
      margin-top: 50px;
    " id="graduated"> 0</div>
          <h3>Graduated Alumini</h3>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class=" text-white">
          <div style="
      font-size: 7rem;
      font-weight: bold;
      color: #ffffff;
      margin-top: 50px;
    " id="studying"> 0</div>
          <h3>Studying Alumini</h3>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class=" text-white">
          <div style="
      font-size: 7rem;
      font-weight: bold;
      color: #ffffff;
      margin-top: 50px;
    " id="screwd"> 0</div>
          <h3>Screwd ups</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include("footer-home")%>